# https://github.com/github/linguist/blob/master/docs/overrides.md#using-gitattributes
*                   text=auto

# Source
*.go                -text diff=golang
*.js                text
*.jsx               text
*.php               text diff=php
*.py                text diff=python
*.rb                text diff=ruby
*.rs                text diff=rust
*.ts                text
*.tsx               text
*.vue               text

*.htm               text diff=html
*.html              text diff=html

*.css               text diff=css
*.sass              text
*.scss              text diff=css

*.map               text -diff

Dockerfile*         text

# Data
*.csv               text
*.json              text
*.sql               text linguist-detectable=true
*.toml              text diff=toml
*.xml               text
*.yaml              text
*.yml               text

# Documentation
*.markdown          text diff=markdown
*.md                text diff=markdown
*.pdf                    diff=astextplain
*.rtf                    diff=astextplain
*.txt               text

*.bibtex            text diff=bibtex
*.tex               text diff=tex

*.ipynb             text

CHANGELOG*          text
CONTRIBUTING*       text
LICENSE*            text
README*             text

# Configs
.editorconfig       text
.env*               text
.gitattributes      text
.gitconfig          text
.gitignore          text
.gitkeep            text
.gitmodules         text

.*ignore            text
.*rc*               text

*.lock              text -diff
package-lock.json   text -diff
package.json        text eol=lf
pnpm-lock.yaml      text eol=lf -diff

# Scripts
*.bash              text eol=lf
*.sh                text eol=lf
*.zsh               text eol=lf
*.bat               text eol=crlf
*.cmd               text eol=crlf

# Images
*.gif               binary
*.ico               binary
*.jpeg              binary
*.jpg               binary
*.png               binary
*.svg               text

# Archives
*.7z                binary
*.bz2               binary
*.gz                binary
*.tar               binary
*.tgz               binary
*.zip               binary

# Fonts
*.ttf               binary
*.otf               binary
*.woff              binary
*.woff2             binary

# Exporting
.gitattributes      export-ignore
.gitignore          export-ignore
.gitkeep            export-ignore
