[core]
	editor = nvim
	excludesFile = ~/.gitignore

	# delta will used as the default pager for git
	# and ov as the default pager for delta
	# the pager will be overloaded via the [pager] section for a few commands
	pager = delta --pager='ov -F'
[init]
	defaultBranch = main
[commit]
	gpgSign = true
	verbose = true
[tag]
	gpgSign = true
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
[fetch]
	prune = true
	pruneTags = true
[pull]
	ff = only
[merge]
	conflictStyle = zdiff3
[rebase]
	autoStash = true
[rerere]
	enabled = true
[diff]
	algorithm = histogram
	colorMoved = default
[interactive]
	diffFilter = delta --color-only
[url "git@github.com:"]
	insteadOf = "https://github.com/"
[pager]
	# overload delta pager for some commands
	show = delta --pager='ov -F --header 3'

	# We are now overloading some commands via "delta features"
	# This allows us to use different pager per git command
	# It allows to maintain a simpler config file and avoid escaping quotes
	diff = delta --features ov-diff
	log  = delta --features ov-log
[delta]
	navigate = true
	side-by-side = true
	file-style = yellow

	hyperlinks = true
	hyperlinks-file-link-format = "vscode://file/{path}:{line}"
# we define the delta feature "ov-diff" we are using for git diff
[delta "ov-diff"]
	# the idea is to overload the pager used by delta when using git diff
	# we are using the same pattern used by delta when the default pager (less) is used
	# using ov section feature brings a better experience
	pager=ov -F --section-delimiter '^(commit|added:|removed:|renamed:|Δ)' --section-header --pattern '•'
# we define the delta feature "ov-log" we are using for git log
[delta "ov-log"]
	# the idea is to overload the pager used by delta when using git log
	# using ov section feature brings a better experience
	pager=ov -F --section-delimiter '^commit' --section-header-num 3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
